      <div id="id" class="part">
        <h1>Fiche d'identité de l'article</h1>
        <hr>
        <table>
          <tr><td>Titre</td><td>GEN_TITLE</td></tr>
          <tr><td>URL</td><td>GEN_URL</td></tr>
          <tr><td>Nombre de mots</td><td>GEN_WORD_LENGTH</td></tr>
          <tr><td>Nombre de phrases</td><td>GEN_SENTENCE_LEN</td></tr>
          <tr><td>Avis global</td><td>GEN_NOTE</td></tr>
          <tr><td>Date d'évaluation</td><td>GEN_DATE</td></tr>
        </table>
        <div class="back">
            <a href="#ind">Retour au début</a>
        </div>
      </div>
      <div id="ana" class="part">
        <h1>Anatomie de l'article</h1>
        <hr>
        <i>Indices métatextuels :</i>
        <table>
          <tr><td>Nombre de liens</td><td>META_NB_LINKS</td></tr>
          <tr><td>Nombre d'images</td><td>META_NB_PICTURES</td></tr>
          <!--<tr><td>Nombre de sections</td><td>META_NB_SECTION</td></tr>
          <tr><td>Nombre de paragraphes</td><td>META_NB_PARAGRAPH</td></tr>-->
        </table>
        <div class="back">
            <a href="#ind">Retour au début</a>
        </div>
      </div>
      <div id="sur" class="part">
        <h1>Indices de surface</h1>
        <hr>
        <table>
          <!--<tr><td>Longueur en nombre de mots</td><td>SUR_WORD_LENGTH</td></tr>-->
          <tr><td>Longueur moyenne des phrases en mots</td><td>SUR_WORD_LEN_AVG</td></tr>
          <tr><td>Mesure de Flesch-Kincaid</td><td>SUR_FLESCH_KINCAID</td></tr>
          <tr><td>Nombre de marques de ponctuation</td><td>SUR_PONCTUATION (SUR_AVG_PONCTUATION)</td></tr>
          <tr><td>Nombre de points-virgules</td><td>SUR_PONCT_PT_VIRG (SUR_AVG_PONCT_PT_VIRG)</td></tr>
          <tr><td>Nombre de doubles points</td><td>SUR_PONCT_DBL_PT (SUR_AVG_PONCT_DBL_PT)</td></tr>
          <tr><td>Nombre de virgules</td><td>SUR_PONCT_VIRG (SUR_AVG_PONCT_VIRG)</td></tr>
        </table>
        <div class="back">
            <a href="#ind">Retour au début</a>
        </div>
      </div>
      <div id="syn" class="part">
        <h1>Syntaxe et morphologie</h1>
        <hr>
        <table>
          <tr><td>Nombre de phrases à la voix passive</td><td>PASSIVE_NB_PASSIVES</td></tr>
          <tr><td>Nombre de verbes à la voix passive sur nombre de phrases</td><td>SYN_NB_PASSIVE</td></tr>
          <tr><td>Moyenne du nombre de verbes par phrase</td><td>SYN_NB_VERBS_PER_SENTENCE</td></tr>
          <tr><td>Moyenne du nombre de modificateur par nom commun</td><td>SYN_NB_MODIFIERS_PER_NOUN</td></tr>
          <tr><td>Nombre de temps verbaux</td><td>SYN_NB_VERBAL_TENSE</td></tr>
          <tr><td>Temps verbaux</td><td>SYN_VERBAL_TENSE</td></tr>
        </table>
        <div class="back">
            <a href="#ind">Retour au début</a>
        </div>
      </div>
      <div id="mor" class="part">
        <h1>Morphologie</h1>
        <hr>
        <table>
          <tr>
            <td>Nombre de particules complexes sur nombre de mots</td><td>MOR_PART_COMPLEXE</td>
          </tr>
        </table>
        <div class="back">
            <a href="#ind">Retour au début</a>
        </div>
      </div>
      <div id="dis" class="part">
        <h1>Discours</h1>
        <hr>
        <table>
          <tr>
            <td>Nombre de pronoms sur nombre de noms</td><td>DIS_PRO</td>
          </tr>
        </table>
        <div class="back">
            <a href="#ind">Retour au début</a>
        </div>
      </div>
      <div id="sem" class="part">
        <h1>Sémantique et lexique</h1>
        <hr>
        <table>
          <tr>
            <td>Nombre de mots qui ne sont pas dans Manulex</td><td>SEMLEX_MANULEX (SEMLEX_AVG_MANULEX)</td>
          </tr>
          <tr>
            <td>Mots qui ne sont pas dans Manulex</td><td>SEMLEX_NOT_IN_MANULEX</td></tr>
          <tr>
            <td>Nombre de mots polysémiques</td><td>SEMLEX_POLY_INDEX (SEMLEX_AVG_POLY)</td>
          </tr>
          <tr>
            <td>Nombre de mots ambigus sur le nombre de mots</td><td>SEMLEX_MOTS_AMBIGUS</td>
          </tr>
          <tr>
            <td>Nombre de mots rares sur le nombre de mots</td><td>SEMLEX_MOTS_RARES</td>
          </tr>
          <tr>
            <td>Âge d'acquisition </td><td>SEMLEX_AQUISITION</td>
          </tr>
        </table>
        <div class="back">
            <a href="#ind">Retour au début</a>
        </div>
      </div>
      <div id="eno" class="part">
        <h1>Énoncé définitoires et connecteurs</h1>
        <hr>
        <table>
          <tr>
            <td>Moyenne de patrons de reformulation par phrase</td><td>NB_PATRONS_REFORMULATION</td>
          </tr>
          <tr>
            <!--<td>Moyenne de connecteurs par phrase</td><td>CONNECTEURS</td>-->
            <td>Nombre de connecteurs</td><td>NB_CONNECTEUR</td>
          </tr>
        </table>
        <div class="back">
            <a href="#ind">Retour au début</a>
        </div>
      </div>
      <div id="det" class="part">
        <h1>Détails</h1>
        <hr>
        <i>Différents nombres sur l'article analysé :</i>
        <table>
          <tr><td>Nombre de noms communs et propres</td><td>NB_NOMS</td></tr>
          <tr><td>Nombre de verbes conjugués</td><td>VERBECONJ_PROREL_VERBES_CONJ</td></tr>
          <tr><td>Nombre de pronoms</td><td>NB_PRONOMS</td></tr>
          <tr><td>Nombre de pronoms relatifs</td><td>VERBECONJ_PROREL_PRONOM_REL</td></tr>
          <tr><td>Nombre de phrases passives</td><td>PASSIVE_NB_PASSIVES</td></tr>
          <tr><td>Nombre de subordonnées</td><td>VERBECONJ_PROREL_SUB</td></tr>
          <!--<tr><td>Moyenne V1</td><td>VERBECONJ_PROREL_AVG_V1</td></tr>-->
        </table>
        <div class="back">
            <a href="#ind">Retour au début</a>
        </div>
      </div>
    </div>
