<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maquette</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        div {
        }
        tr {
            border-bottom: 1px solid grey;
        }
        td:first-child {
            padding-right: 3em;
        }
    </style>
  </head>
  <body>
    <div class="container">
      <!--<nav class="navbar sticky-top navbar-light bg-light">-->
      <nav class="navbar bg-light">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="#id">Fiche</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ana">Anatomie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sur">Surface</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#syn">Syntaxe/morphologie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sem">Sémantique/lexique</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#eno">Énoncés</a>
          </li>
        </ul>
      </nav>
      
      <div id="id">
        <h1>Fiche d'identité de l'article</h1>
        <hr>
        <table>
          <tr><td>Titre</td><td>GEN_TITLE</td></tr>
          <tr><td>URL</td><td>GEN_URL</td></tr>
          <tr><td>Longueur globale</td><td>SURF_WORD_LENGTH</td></tr>
          <tr><td>Avis global</td><td>GEN_NOTE</td>
        </table>
      </div>
      <div id="ana">
        <h1>Anatomie de l'article</h1>
        <hr>
        <i>Indices métatextuels</i>
        <table>
          <tr><td>Nombre de liens</td><td>META_NB_LINKS</td></tr>
          <tr><td>Nombre d'images</td><td>META_NB_PICTURES</td></tr>
          <tr><td>Nombre de sections</td><td>META_NB_SECTION</td></tr>
          <tr><td>Nombre de paragraphes</td><td>META_NB_PARAGRAPH</td></tr>
        </table>
      </div>
      <div id="sur">
        <h1>Indices de surface</h1>
        <hr>
        <table>
          <tr><td>Longueur en nombre de mots</td><td>SURF_WORD_LENGTH</td></tr>
          <tr><td>Longueur moyenne des phrases</td><td>SURF_AVG_WORD_LENGTH</td></tr>
          <tr><td>Mesure de Flesch-Kincaid</td><td>SURF_FLESCH_KINCAID</td></tr>
        </table>
      </div>
      <div id="syn">
        <h1>Syntaxe et morphologie</h1>
        <hr>
        <table>
          <tr><td>Texte Syn 1</td><td>SYN_RES1</td></tr>
        </table>
      </div>
      <div id="sem">
        <h1>Sémantique et lexique</h1>
        <hr>
      </div>
      <div id="eno">
        <h1>Énoncé définitoires et connecteurs</h1>
        <hr>
        <div class="alert alert-primary" role="alert">
          Bleu
        </div>
        <div class="alert alert-success" role="alert">
          Verte
        </div>
        <div class="alert alert-danger" role="alert">
          Rouge
        </div>
        <div class="alert alert-warning" role="alert">
          Jaune
        </div>
      </div>
      <div>
        <table>
          <tr><td>Nb phrases</td><td>PASSIVE_NB_PHRASE</td></tr>
          <tr><td>Nb passives</td><td>PASSIVE_NB_PASSIVES</td></tr>
          <tr><td>Ratio</td><td>PASSIVE_RATIO</td></tr>
          <tr><td>Total pronoms</td><td>PRONOM_NB_TOTAL</td></tr>
          <tr><td>Total phrases</td><td>PRONOM_TOTAL_PHRASES</td></tr>
          <tr><td>Moyenne pro / ph</td><td>PRONOM_AVG_PAR_PHRASE</td></tr>
          <!-- Cas des multiclés -->
          <tr><td>Total phrases</td><td>VERBECONJ_PROREL_TOTAL_PHRASE</td></tr>
          <tr><td>Verbes conjugués</td><td>VERBECONJ_PROREL_VERBES_CONJ</td></tr>
          <tr><td>Pronoms relatifs</td><td>VERBECONJ_PROREL_PRONOM_REL</td></tr>
          <tr><td>Subordonnées</td><td>VERBECONJ_PROREL_SUB</td></tr>
          <tr><td>Moyenne V1</td><td>VERBECONJ_PROREL_AVG_V1</td></tr>
          <tr><td>Moyenne modifieurs par NC</td><td>VERBECONJ_PROREL_AVG_MOD_PAR_NC</td></tr>
          <tr><td></td><td></td></tr>
          <tr><td></td><td></td></tr>
          <tr><td></td><td></td></tr>
          <tr><td></td><td></td></tr>
          <tr><td></td><td></td></tr>
          <tr><td></td><td></td></tr>
          <tr><td></td><td></td></tr>
          <tr><td></td><td></td></tr>
          <tr><td></td><td></td></tr>
        </table>
      </div>
    </div>
  </body>
</html>
